<nav class="bg-blue-600 text-white px-6 py-3 shadow flex justify-between items-center">
  <a routerLink="/" class="text-xl font-semibold hover:underline">🎬 CineReservas</a>

  <div class="flex gap-6 text-sm">
    <a routerLink="/sessoes" routerLinkActive="underline">Sessões</a>
    <a routerLink="/minhas-reservas" routerLinkActive="underline">Reservas</a>
    <a routerLink="/admin/filmes" routerLinkActive="underline">Filmes</a>
    <a routerLink="/admin/salas" routerLinkActive="underline">Salas</a>
    <a routerLink="/admin/sessoes" routerLinkActive="underline">Criar Sessões</a>
  </div>
</nav>